* {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #332234;
}

html, body { 
    width: 100%;
    height: 100%; 
    font-family: Helvetica, Verdana, Arial, sans-serif; 
    overflow: hidden;
}
body {
    background-color: #262626;
}

div#loadingBox {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  text-align: center;
}
div#bgBar {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  height: 2px;
  display: block;
  background-color: #045a74;
}
div#progressBar {
  left: 50%;
  position: absolute;
  margin-left: -100px;
  width: 0px;
  height: 2px;
  background-color: #0db3e5;
  border-radius: 2px;
}
div#bgBar {
  border-radius: 2px;
}
p#loadingInfo {
  color: #63e7ff;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  font-family: "Monaco", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 8px;
  margin-top: 10px;
}